:root {
  --footer-text-color: #f1f6f9;
  --footer-separator-opacity: 0.5;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  color: var(--footer-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.footer__description {
  margin-bottom: -10px;
}
.footer__separator {
  width: 50%;
  color: var(--footer-text-color);
  height: 0px;
  opacity: var(--footer-separator-opacity);
}
.footer__author {
  margin: 0;
}
@media screen and (max-width: 600px) {
  .footer__author {
    font-size: 10px;
  }
  .footer__description {
    font-size: 11px;
  }
}
@media (max-width: 600px) {
  .footer {
    height: 65px;
  }
}
