[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
mysqlclient = "==2.1.0"
django-debug-toolbar = "*"
pillow = "*"
django-cleanup = "*"
mixer = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
redis = "*"
celery = "*"
django-redis = "*"
flower = "*"
whitenoise = "*"
django-cors-headers = "*"
waitress = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-django = "*"
pytest-mock = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.12"
